.menu {
    transition: 0.7s;
    transform: translateY(-100vh);
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    background: white;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    left: 0;
    top: 0;

    &--open {
        transform: translateY(0);
    }

    @media (min-width: #{$screen-md}px) {
        background: transparent;
        flex-direction: row;
        top: 39%;
        left: unset;
        height: auto;
        width: auto;
        right: 0;
        position: absolute;
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
        transition: 1s;

        &--open {
            opacity: 1;
            right: 108px;
            transform: translateX(0) translateY(-50%);
        }
    }

    &--open {
        transform: translateY(0);
        @media (min-width: #{$screen-md}px) {
            transform: translateX(0) translateY(-50%);
        }
    }

    &__item {
        list-style-type: none;
    }

    &__item + &__item {
        margin-top: 15px;
                
        @media (min-width: #{$screen-md}px) {
           margin-top: 0;
           margin-left: 10px;
        }
    }

    &__link {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: $dark-gray;
        padding: 7px 20px;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.3s;
        &--selected, &:hover {
            background: $dark-gray;
            color: $semi-gray;
        }

    }
}

.menu-toggle {
    z-index: 100;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
    position: relative;
    outline: none;

    &--active &__circle:after {
        opacity: 0; 
    }

    &__circle {
        position: absolute;
        font-size: 18px;
        bottom: -6px;
        width: 18px;
        height: 18px;
        display: block;
        left: 50%;
        border-radius: 100%;
        background-color: #3e3e3e;
        transform: translateX(-50%);
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.60);

        &:before, &:after {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            background-color: white;
        }
        &:before, {
            width: 50%;
            top: 50%;
            left: 50%;
            height: 3px;
            transform: translate(-50%, -50%);
        }

        &:after {
            width: 3px;
            top: 50%;
            left: 50%;
            height: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }
    }

    &__line {    
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: block;
        height: 7px;
        background-color: $dark-gray;
        border-radius: 4px;  

        &:after, &:before {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background-color: inherit;
            position: absolute;
            left: 0;
            right: 0;
        }
        &:before {
           top: -12px; 
        }
        &:after {
            bottom: -12px;
        }
    }
}