@font-face {
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Arvo';
    src: url(src/assets/fonts/Arvo-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Arvo';
    src: url(src/assets/fonts/Arvo-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(src/assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
}
